<footer class="pt-3 bg-gray-800 shadow-7">
  <section class="py-3 text-gray-400">
    <div class="grid grid-nogutter">
      <div class="col-12 md:col-3 overflow-hidden">
        <section>
          <div class="flex justify-content-center">
            <img
              src="icons/party_icon.png"
              alt="logo zest soutien scolaire"
              height="61"
              class="align-self-center"
            />
          </div>
          <div class="flex flex-wrap gap-4 justify-content-center mt-4">
            <i class="pi pi-twitter"></i>
            <i class="pi pi-facebook"></i>
            <i class="pi pi-tiktok"></i>
            <i class="pi pi-instagram"></i>
          </div>
          <div class="flex flex-wrap gap-2 justify-content-center mt-3">
            <i class="pi pi-envelope"></i>
            <span>contact&#64;partiesplans.fr</span>
          </div>
          <div class="flex flex-wrap gap-2 justify-content-center mt-3">
            <i class="pi pi-phone"></i>
            <span>+33 1 00 00 00 00</span>
          </div>
        </section>
      </div>
      <div class="col-12 md:col-3">
        <section>
          <div class="mb-3">
            <span class="text-400 font-bold text-l"
              >Oui vous pouvez organiser des soirées</span
            >
            <p class="text-gray-400">
              Si cela vous est arriver de vous retrouver dans un plan galère, à
              23h, sans savoir où aller, mais sans vouloir réellement rentrer
              chez vous, et bien ce temps est révolu !!!!!.
            </p>
          </div>
        </section>
      </div>
      <div class="col-12 md:col-3">
        <section>
          <div class="mb-3">
            <span class="text-400 font-bold text-l">Parties Plans </span>
            <ul>
              <li><a>Mentions légales</a></li>
              <li><a>Politique de protection de données</a></li>
              <li><a>Charte de confidentialité</a></li>
              <li><a>FAQ</a></li>
            </ul>
          </div>
        </section>
      </div>
      <div class="col-12 md:col-3">
        <section>
          <div class="mb-3">
            <span class="text-400 font-bold text-l">Aller à </span>
            <ul>
              <li><a>Trouver votre soirée</a></li>
              <li><a>Plannifier des soirée</a></li>
              <li><a>Ce qu'il faut savoir</a></li>
              <li><a>Les avis</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section
    class="w-full left-0 top-0 py-2 bg-gray-900 flex justify-content-center shadow-1"
  >
    <span class="text-white text-center">
      © Parties Plans | Tous droits réservés |
      {{ dateToday | date: "MMMM YYYY" }}
    </span>
  </section>
</footer>
