<app-header></app-header>
<main class="top-0 left-0 right-0 w-full py-7 bg-gray-900">
  <div class="grid grid-nogutter text-800">
    <div
      class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
    >
      <section>
        <span class="block text-6xl text-white font-bold mb-1"
          >Trouver ou organiser des soirées?</span
        >
        <div class="text-6xl text-primary font-bold mb-3">
          Et bien oui c'est possible désormais!
        </div>
        <p class="mt-0 mb-4 text-700 line-height-3 text-gray-400">
          Si ça vous est déjà arriver de vous retrouver dans un plan galère, à
          23h, sans savoir où aller, mais sans vouloir réellement rentrer chez
          vous, il existe maintenant cette fameuse application qui va vous
          permettre de ne plus jamais être en galère de plan pour des soirée
        </p>

        <div class="flex flex-wrap gap-3">
          <p-button label="Génial" [raised]="true" size="large" />
          <p-button label="Comment ça marche" [outlined]="true" size="large" />
        </div>
      </section>
    </div>
    <div class="col-12 md:col-5 overflow-hidden">
      <img
        src="images/party_image.png"
        alt="Image"
        class="md:ml-auto block md:h-full"
        style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
      />
    </div>
  </div>
</main>
<app-footer></app-footer>
