<section
  class="left-0 right-0 w-full flex justify-content-center"
  style="margin-top: 3rem; margin-bottom: 6rem"
>
  <div
    class="py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem bg-gray-200"
    style="border-radius: 14px"
  >
    <div class="text-center mb-5">
      <img src="icons/party_icon.png" alt="Image" height="70" class="mb-3" />
      <div class="text-900 text-3xl font-medium mb-3">
        Content de vous revoir!
      </div>
      <span class="text-600 font-medium line-height-3"
        >Vous avez pas un compte?</span
      >
      <a
        class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        routerLink="/parties-plans/signup"
        >Inscrivez-vous -></a
      >
    </div>
    <p class="text-color-secondary mb-3">
      Bienvenu chez <strong>Parties Plans</strong>, où la magie opère,
      connectez-vous pour continuer.
    </p>
    <span class="p-input-icon-left mb-4"
      ><i class="pi pi-user"></i
      ><input
        type="text"
        pinputtext=""
        placeholder="Email"
        class="p-inputtext p-component p-element w-full"
    /></span>
    <span class="p-input-icon-left mb-4"
      ><i class="pi pi-key"></i
      ><input
        type="password"
        pinputtext=""
        placeholder="Mot de pass"
        class="p-inputtext p-component p-element w-full"
    /></span>
    <button
      pbutton=""
      pripple=""
      label="Connexion"
      class="p-element p-ripple mb-4 p-button p-component"
      tabindex="0"
    >
      <span class="p-button-label">Connexion</span>
      <span class="p-ink" aria-hidden="true" role="presentation"></span>
    </button>
    <span class="flex justify-content-end mb-4"
      ><a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >Mot de pass oublié?</a
      ></span
    >
    <span class="text-color-secondary text-center mb-4"
      >ou inscrivez-vous avec</span
    >
    <div class="flex gap-4 align-items-center justify-content-center">
      <a
        class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle"
        ><i class="pi pi-facebook text-2xl text-color"></i
      ></a>
      <a
        class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle"
        ><i class="pi pi-twitter text-2xl text-color"></i
      ></a>
      <a
        class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle"
        ><i class="pi pi-google text-2xl text-color"></i
      ></a>
    </div>
  </div>
</section>
